<div class="app-container">
  <mat-toolbar color="primary" class="navbar-header">
    <div class="logo-title">
      <img src="assets/images/LOGO.png" alt="Finanwise Logo" class="navbar-logo">
    </div>

    <span class="spacer"></span>

    
    <button mat-icon-button class="menu-button" (click)="toggleMenu()" aria-label="Toggle menu">
      <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
    </button>

    
    <nav class="navbar-links" [ngClass]="{ 'open': isMenuOpen }" *ngIf="isLoggedIn()">
      <a mat-button routerLink="/dashboard" routerLinkActive="active-link" (click)="closeMenu()">Fil d'Actualités</a>
      <a mat-button routerLink="/stockRecomendation" routerLinkActive="active-link" (click)="closeMenu()">Recommandations</a>
      <a mat-button routerLink="/Stock-search" routerLinkActive="active-link" (click)="closeMenu()">Symboles</a>
      <a mat-button routerLink="/exchange-rates" routerLinkActive="active-link" (click)="closeMenu()">Taux de Change</a>
      <a mat-button routerLink="/stock-history" routerLinkActive="active-link" (click)="closeMenu()">Historique</a>
      <a mat-button (click)="logout(); closeMenu()">
        <mat-icon>exit_to_app</mat-icon> Déconnexion
      </a>
    </nav>
  </mat-toolbar>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <footer class="app-footer">
    <span>© {{ currentYear }} Finanwise. Tous droits réservés.</span>
  </footer>
</div>
