

<div class="register-container">
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title class="center">Se Connecter</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Entrer votre email</mat-label>
          <input
            matInput
            
            [formControl]="email"
            (blur)="updateErrorMessage()"
            required
          />
          <mat-error *ngIf="email.invalid">{{ errorMessage() }}</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Entrer le mot de passe</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="password" name="password" required autocomplete="current-password" />
          <button
            mat-icon-button
            matSuffix
            (click)="toggleHide($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
      
          </button>
        </mat-form-field>
  


        <button mat-raised-button color="primary" class="login-button" type="submit">
          Connexion
        </button>

        <div class="extra-options">
          <a routerLink="/forgot-password" class="forgot-password">Mot de passe oublié?</a>
        </div>

      </form>

      <p class="register-link">
        Vous n'avez pas de compte ? <a routerLink="/register">Inscription</a>
      </p>

      <p *ngIf="errorMessage()">{{ errorMessage() }}</p>

    </mat-card-content>
  </mat-card>
</div>









