<div class="forgot-password-container">
  <mat-card class="forgot-password-card">
    <mat-card-header>
      <mat-card-title class="center">Réinitialiser le mot de passe</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="sendResetEmail()" #resetForm="ngForm">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Entrez votre email</mat-label>
          <input matInput type="email" [formControl]="email" name="email" placeholder="Email" required />
          <mat-error *ngIf="email.invalid">{{ errorMessage() }}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="reset-button" type="submit" [disabled]="!resetForm.valid">
          Envoyer l'email de réinitialisation
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
