<div class="exchange-rates-container">
  <h1 class="styled-title">Conversion des devises</h1>

  
  <mat-card>
    <mat-card-header>
      <mat-card-title class="styled-subtitle">Taux de change en direct</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="exchangeRateForm" (ngSubmit)="getExchangeRates()" class="form-container">
        <div class="form-fields-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Code de base</mat-label>
            <mat-select formControlName="baseCode" required>
              <mat-option *ngFor="let currency of currencies" [value]="currency">
                <img [src]="getFlagUrl(currency)" alt="" width="24" height="18">
                {{ currency }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="exchangeRateForm.get('baseCode')?.invalid">Code de base est requis</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Taux de conversion</mat-label>
            <mat-select formControlName="conversionRates" multiple required>
              <mat-option *ngFor="let currency of currencies" [value]="currency">
                <img [src]="getFlagUrl(currency)" alt="" width="24" height="18">
                {{ currency }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="exchangeRateForm.get('conversionRates')?.invalid">Taux de conversion sont requis</mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" [disabled]="exchangeRateForm.invalid" class="submit-button">
            Obtenir les taux de change
          </button>
        </div>
      </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content *ngIf="filteredRates" class="rates-container">
      <mat-card-title class="styled-subtitle">Taux de change pour {{ exchangeRateForm.get('baseCode')?.value }}</mat-card-title>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        
        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Devise </th>
          <td mat-cell *matCellDef="let element">
            <img [src]="getFlagUrl(element.key)" alt="" width="24" height="18">
            {{ element.key }}
          </td>
        </ng-container>

        
        <ng-container matColumnDef="rate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Taux </th>
          <td mat-cell *matCellDef="let element"> {{ element.value }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>

  
  <mat-card>
    <mat-card-header>
      <mat-card-title class="styled-subtitle">Sélection des Devises pour la Matrice</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="matrix-selection-container">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Codes de base pour la matrice</mat-label>
          <mat-select [formControl]="matrixBaseCodesControl" multiple required>
            <mat-option *ngFor="let currency of currencies" [value]="currency">
              <img [src]="getFlagUrl(currency)" alt="" width="24" height="18">
              {{ currency }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="matrixBaseCodesControl.invalid">Codes de base sont requis</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="generateMatrix()" [disabled]="matrixBaseCodesControl.invalid" class="submit-button">
          Générer la matrice
        </button>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content *ngIf="matrixData.length > 0" class="matrix-container">
      <mat-card-title class="styled-subtitle">Matrice des Taux de Change</mat-card-title>
      <table mat-table [dataSource]="matrixDataSource" matSort class="mat-elevation-z8">
        <!-- Base Currency Column -->
        <ng-container matColumnDef="matrixBaseCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Devise </th>
          <td mat-cell *matCellDef="let element">
            <img [src]="getFlagUrl(element.baseCode)" alt="" width="24" height="18">
            {{ element.baseCode }}
          </td>
        </ng-container>

        <!-- Dynamic Currency Columns -->
        <ng-container *ngFor="let currency of matrixBaseCodes" [matColumnDef]="currency">
          <ng-container *ngIf="currency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <img [src]="getFlagUrl(currency)" alt="" width="24" height="18">
              {{ currency }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element[currency] | number:'1.2-4' }}
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="matrixDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: matrixDisplayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>


