<div class="exchange-rates-container">
  <h1>Taux de Change</h1>
  <form [formGroup]="exchangeRateForm" (ngSubmit)="getExchangeRates()" class="form-container">
    <div class="form-fields-container">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Code de base</mat-label>
        <mat-select formControlName="baseCode" required>
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            <img [src]="getFlagUrl(currency)" alt="" width="24" height="18">
            {{ currency }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="exchangeRateForm.get('baseCode')?.invalid">Code de base est requis</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Taux de conversion</mat-label>
        <mat-select formControlName="conversionRates" multiple required>
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            <img [src]="getFlagUrl(currency)" alt="" width="24" height="18">
            {{ currency }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="exchangeRateForm.get('conversionRates')?.invalid">Taux de conversion sont requis</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="exchangeRateForm.invalid" class="submit-button">
        Obtenir les taux de change
      </button>
    </div>
  </form>

  <div *ngIf="filteredRates" class="rates-container">
    <h2>Taux de change pour {{ exchangeRateForm.get('baseCode')?.value }}</h2>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Colonne Devise -->
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Devise </th>
        <td mat-cell *matCellDef="let element">
          <img [src]="getFlagUrl(element.key)" alt="" width="24" height="18">
          {{ element.key }}
        </td>
      </ng-container>

      <!-- Colonne Taux -->
      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Taux </th>
        <td mat-cell *matCellDef="let element"> {{ element.value }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>















  <!-- Sélection des codes de base pour la matrice carrée -->
  <div class="matrix-selection-container">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Codes de base pour la matrice</mat-label>
      <mat-select [formControl]="matrixBaseCodesControl" multiple required>
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          <img [src]="getFlagUrl(currency)" alt="" width="24" height="18">
          {{ currency }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="matrixBaseCodesControl.invalid">Codes de base sont requis</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="generateMatrix()" [disabled]="matrixBaseCodesControl.invalid" class="submit-button">
      Générer la matrice
    </button>
  </div>

  <!-- Matrice carrée des taux de change -->
  <div *ngIf="matrixData.length > 0" class="matrix-container">
    <h2>Matrice des Taux de Change</h2>
    <table class="matrix-table">
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let baseCode of matrixBaseCodes">
            <img [src]="getFlagUrl(baseCode)" alt="" width="24" height="18">
{{ baseCode }}
</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let baseCode of matrixBaseCodes">
          <th>
            <img [src]="getFlagUrl(baseCode)" alt="" width="24" height="18">
{{ baseCode }}
</th>
          <td *ngFor="let conversionRate of matrixBaseCodes">{{ getMatrixValue(baseCode, conversionRate) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


